body {
	font-family: 'Helvetica Neue', Helvetica, 'HN', Arial, sans-serif;
}

.top.home {
	background: url('http://i.imgur.com/f48xxbe.png') top center no-repeat;
}

.bar {
	background: url('bg-bar-lq.png') top left repeat-x;
}

.bar .logo {
	
}

.bar .logo a {
	background: url('logo-whatsapp.png?v2') center center no-repeat;
}

.bar .nav {
	
}

.bar .nav a {
	background: url('btn-nav-lq.png') center center no-repeat;
}

.bar .nav a:active, .bar .nav a:hover {
	background: url('btn-nav-active-lq.png') top left no-repeat;
}

.nav.close a, .preloadcloselq {
	background: url('btn-nav-close-lq.png') top left no-repeat;
}

.nav.close a:active, .nav.close a:hover {
	background: url('btn-nav-close-active-lq.png') top left no-repeat;
}

.top h1 {
	font-family: 'Helvetica Neue', Helvetica, 'HN', Arial, sans-serif;
	/*font-family: 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", 'HN', Helvetica, Arial, "Lucida Grande", sans-serif;*/
}

.california {
	background: url('california-lq.png') top left no-repeat;
}

.content h2 {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, 'HN', Arial, 'Lucida Grande', sans-serif;
}

.s1 .icon {
	background: url('icon-platforms-lq.png') center center no-repeat;
}

.s2 .icon {
	background: url('icon-multimedia-lq.png') center center no-repeat;
}

.s3 .icon {
	background: url('icon-chat-lq.png') center center no-repeat;
}

.s4 .icon {
	background: url('icon-texting-lq.png') center center no-repeat;
}

.menu.faq a {
	background: url('arrow.png') center right no-repeat;
}

.faq h2 {
	font-family: 'Helvetica Neue Bold', "HNBold", Helvetica, Arial, sans-serif;
}

.footer {
	background: url('bg-footer.png') repeat;
}

#btm-menu .home-link {
	background: url('logo-whatsapp-footer-lq.png') center center no-repeat;
}


#screens h2 {
	font-weight: 200;
}

.screenshot.iphone.screen1 {
	background-image: url('http://i.imgur.com/DHLlrNa.png')!important;
}


#lang_select select {
	font-family: 'Helvetica Neue', Helvetica, 'HN', Arial, sans-serif;
	border-top: 1px solid #1c2f30;
	border-left: 1px solid #1c2f30;
	border-right: 1px solid #1c2f30;
	border-bottom: 1px solid #567f80;
}


#topbar {
	background: url('bg-footer.png');
}

#query {
	font-family: 'Helvetica Neue', Helvetica, 'HN', Arial, sans-serif;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

.bar {
	background-color: #283c3e;
}
.bar .logo a  {
    background-image: url('logo-whatsapp-hq.png');
}

.s1 .icon { background: url('icon-platforms.png') center center no-repeat; }
.s2 .icon { background: url('icon-multimedia.png') center center no-repeat; }
.s3 .icon { background: url('icon-chat.png') center center no-repeat; }
.s4 .icon { background: url('icon-texting.png') center center no-repeat; }

.california {
	background: url('california.png') top left no-repeat!important;
}

.bar .nav a {
	background: url('btn-nav.png') top left no-repeat;
	background-size: contain;
}

.nav a:active, .nav a:hover {
	background: url('btn-nav-active.png') top left no-repeat!important;
	background-size: contain;
}

.nav.close a, .preloadclose {
	background: url('btn-nav-close.png') top left no-repeat;
	background-size: contain!important;
}

.nav.close a:active, .nav.close a:hover {
	background: url('btn-nav-close-active.png') top left no-repeat!important;
	background-size: contain!important;
}

#btm-menu .home-link {
	background: url('logo-whatsapp-footer.png') center center no-repeat;
}

}
#lang_select select, #btm_lang_select select {
	color: #3f3f3f;
	background-color: #EDEDED;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	vertical-align: middle;
	font-size: 14px;
	line-height: 24px;
	height: 22px;
}

#btm_lang_select select {
	border-top: 1px solid #35373C;
	border-left: 1px solid #35373C;
	border-right: 1px solid #35373C;
	border-bottom: 1px solid #808285;
}
